@model ConcesionarioCutre.Operacion


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Operacion</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.IDCOCHE, "IDCOCHE", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDCOCHE", null, htmlAttributes: new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.IDCOCHE, "", new { @class = "text-danger" })
        </div>


    </div>




    <div class="form-group">
        @Html.LabelFor(model => model.IDEMPLEADO, "IDEMPLEADO", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDEMPLEADO", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDEMPLEADO, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.IDCLIENTE, "IDCLIENTE", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IDCLIENTE", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IDCLIENTE, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PRECIO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PRECIO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PRECIO, "", new { @class = "text-danger" })
        </div>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(model => model.TIPO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TIPO, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TIPO, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
            @Html.LabelFor(model => model.TIPO, "TIPO", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TIPO", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TIPO, "", new { @class = "text-danger" })
            </div>
        </div>


    @*<div class="form-group">
            @Html.LabelFor(model => model.TIPO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Tipos",new List<SelectListItem>
           {

                    new SelectListItem{Text="Compra",Value=null},
                    new SelectListItem{Text="Venta",Value=null}


           },htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.TIPO, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
