@model IEnumerable<ConcesionarioCutre.Empleado>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NIF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMAIL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALARIO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NIF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.APELLIDOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIRECCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMAIL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TELEFONO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALARIO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
